{{>head}}
<body class="d-flex flex-column">
    {{>header}}
    <main role="main" class="flex-grow-1">
        <div class="container">
            <p>{{errorMessage}}</p>
        </div>
    </main>
    {{>footer}}
</body>
</html>