{{>head}}
<body class="d-flex flex-column">
    {{>header}}
    <main role="main" class="flex-grow-1">
        <div class="container">
            <img src="/img/nodejs.png" alt="nodejs" srcset="">
        </div>
    </main>
    {{>footer}}
</body>
</html>