{{>head}}
<body class="d-flex flex-column">
    {{>header}}
    <main role="main" class="flex-grow-1">
        <div class="container">
            <p>Ce site a été créé par Bob Marley. Il utilise les données des API :</p>
            <ul>
                <li><a href="https://www.mapbox.com/">MapBox API</a></li>
                <li><a href="https://weatherstack.com/">Weatherstack API</a></li>
            </ul>
            <img src="/img/nodejs.png" alt="nodejs" srcset="">
        </div>
    </main>
    {{>footer}}
</body>
</html>