{{>head}}
<body class="d-flex flex-column">
    {{>header}}
    <main role="main" class="flex-grow-1">
        <div class="container">
            <div class="row">
                <p>{{helpText}}</p>
            </div>
        </div>
    </main>
    {{>footer}}
</body>
</html>